html, body{
    height: 100%;
}
body{
    background-color: rgba(106, 104, 104, 0.25);  
}
.col-centrar{
    float: none!important;
    margin: 0 auto;
}
form{
    background: white;
    box-shadow: 0px 0px 6px 1px rgba(2,2,2,0.12);
    padding: 20px;
}
form input, button{
    border-radius: 0!important;
}
.caja{
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(2,2,2,0.1); 
    padding: 20px;
}
.input-group{
    display: block !important;
}
input{
    margin-bottom: 20px !important;
}
.bg{
    background: url(../img/fondo.jpg) center center no-repeat fixed;
    background-size: cover;
}
.izq{
    height: 100%; 
    width: 240px;
    background-color: #252933;
    position: fixed;
    padding-top: 60px;
}
.perfil{
    padding: 39px 50px 10px  50px;
}
.perfil img{
    width: 100%;
}
.nombre{
    color: white;
}
.der{
    margin-left: 240px;
    padding-top: 60px;
}
.cabecera-pagina{
    padding: 30px;
}
.titulo-pagina{
    font-size: 24px;
    display: inline-block;
    margin-top: 0!important;
}
.titulo-pagina > small{
    font-size: 12px !important;
    display: block;
    margin-top: 5px;
}
.fecha{
    padding: 10px 20px;
    background-color: #fafafa;
}
.logo{
    position: fixed;
    background-color: #252933;
}
header .navbar{
    margin-left: 240px;
}
header .logo{
    color: white;
    width: 240px;
    font-size: 20px;
    float: left;
    display: block;
    text-align: center;
    line-height: 50px;
    z-index: 1;
    box-shadow: 0 2px 1px rbga(0,0,0,0.47);
}
header .logo:hover{
    text-decoration: none;
}
.mas{
    padding-bottom:  0px !important; 
}
.mas i{
    font-size: 21px;
}
.panel{
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.bg-rojo{
    background-color: rgba(178,34,34,0.78);
}
.bg-azul{
    background-color: rgba(34,45,178,0.78);
}
.bg-verde{
    background-color: rgba(34,178,118,0.78);
}
.bg-morado{
    background-color: rgba(178,34,147,0.78);
}
.icono{
    width: 40%;
    padding: 25px 15px;
    display: inline-block;
    text-align: center;
}
.icono i{
    font-size: 50px;
    color: white;
}
.valor{
    width: 58%;
    padding-top: 21px;
    float: right;
    text-align: center;
}
.valor h1{
    margin: 0 !important;
}
.alerta > *{
    display: inline-block;
}
.alerta{
    display: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    margin: 15px 0px;
    border-radius: 15px;
}
.alerta > .alerta_icon{
    font-size: 1.3em;
    vertical-align: middle;
}
.alerta_error{
    background-color: #cb2828;
    box-shadow: 0px 0px 10px #603838 inset;
}
.alerta_info{
    background-color: #4693da;
    box-shadow: 0px 0px 10px #2864b0 inset;
}
.alerta_warning{
    color: #343434;
    background-color: #decb3a;
    box-shadow: 0px 0px 10px #968600 inset;
}
/*.alerta{
margin-bottom: 30px;
padding: 20px 55px 20px 90px;
position: relative;
border-radius: 5px;
}
.alerta .alerta_icon{
width: 60px;
font-size: 30px;
line-height: 60px;
color:rgba(0,0,0,.4);
position: absolute;
left: 10px;
top: 10px;
text-align: center;
border-radius: 5px;
}
.alerta a.close{
position: absolute; right: 15px; top: 20px; font-size: 20px;line-height: 20px
}
.alerta a.close i{margin:0!important;color:rgba(0,0,0,.6)}
.alerta a:hover.close i{color:rgba(0,0,0,.8)}

.alerta_warning{background: #ffe38b;color: #9b817e}
.alerta_warning .alerta_icon{background: #fbda72}
.alerta_warning a,.alerta_warning a:hover{color: #645012}

.alerta_error{background: #fb5455;color: #fff}
.alerta_error .alerta_icon{background: #f24143}
.alerta_error a,.alerta_error a:hover{color: #9f2e2e}

.alerta_info{background: #3097db;color: #fff}
.alerta_info .alerta_icon{background: #1c81c4}
.alerta_info a,.alerta_info a:hover{color: #b1e0ff}

.alerta_success{background: #a5de5c;color: #fff}
.alerta_success .alerta_icon{background: #8fc944}
.alerta_success a,.alerta_success a:hover{color: #6eac1f}*/
.menu{
    margin-bottom: 0px !important;
}
.caja-cuerpo > table thead{
    font-weight: bold;
    font-size: 12px;
}
.caja-cuerpo > table tbody{
    font-size: 12px;
}
.acciones{
    width: 27px;
    height: 26px;
    font-size: 10px;
    padding: 5px;
}
#busqueda{
    box-shadow: none;
}
#busqueda .input-group{
    display: table !important;
}
#busqueda input{
    margin-bottom: 0 !important;
}
.caja-cabecera h3{
    display: inline-block;
}
.cargador{
    display: none;
}
#modal-confir .modal-content{
    text-align: center;
}
.modal-content{
    padding: 20px;
}
.container-principal{
    vertical-align: middle;
}
.text-center{
    text-align: center;
}